<!-- begin subscribe -->
<div class="subscribe">
	<div class="inner">
		<div class="subscribe__inner">
			<div class="subscribe__title">
				{{mixins.icon('subscribe')}}
				<span>Подписка</span>
			</div>
			<div class="subscribe__label">
				<strong>Подпишитесь!</strong>
				<span>Скидки, акции и выгодные предложения!</span>
			</div>
			<div class="subscribe__form">
				<form action="/">
					<button class="btn btn_lg subscribe__btn" type="submit">Подписаться</button>
					<button class="btn-direction btn-direction_next subscribe__next" type="submit">
						{{mixins.icon('next')}}
					</button>
					<div class="subscribe__field">
						<input type="text" class="input" placeholder="Ваш email">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end subscribe -->