<!-- begin score-reviews  -->
<div class="score-reviews">
	{% include "partials/components/_product-reviews.html" %}
	<div class="score-reviews__body">
		<div class="score-reviews__sorting">
			{% include "partials/components/_reviews-sorting.html" %}
		</div>
		{% include "partials/components/_comments-reviews.html" %}
	</div>
	<div class="score-reviews__nav">
		{% include "partials/components/_reviews-nav.html" %}
	</div>
	<div class="score-reviews__form">
		{% include "partials/components/_reviews-form.html" %}
	</div>
</div>
<!-- end score-reviews -->