<!-- begin score-payment  -->
<div class="score-payment tabs js-tabs">
	{% set tabs = [
		{
			id: 'score-pay',
			title: 'Способы оплаты',
			active: 'is-active',
			contentList: [
				{
					title: 'Доставка курьерской службой',
					description: [
						'Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.'
					]
				},
				{
					title: 'Срочная доставка',
					description: [
						'Срочная доставка может быть осуществлена в любое удобное время с 10:00 до 21:00 в интервале 1 час, но не ранее, чем через 3 часа после оформления заказа. В случае опоздания курьера – доставка за наш счет! Минимальная сумма заказа отсутствует.'
					]
				},
				{
					title: 'Самовывоз из офиса интернет-магазина',
					description: [
						'Cвой заказ можно получить в офисе интернет-магазина в вашем городе. Минимальная сумма заказа отсутствует.'
					]
				},
				{
					title: 'Срочная доставка в магазин «Связной»',
					description: [
						'Ускоренная доставка заказа в ограниченное количество магазинов «Связной» вашего города.'
					]
				},
				{
					title: 'Резерв в магазине',
					description: [
						'Зарезервировав на сайте товар из наличия в одном из магазинов, получите его уже сегодня!'
					]
				}
			]
		},
		{
			id: 'score-delivery',
			title: 'Способы доставки',
			contentList: [
				{
					title: 'Доставка курьерской службой1',
					description: [
						'Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.'
					]
				},
				{
					title: 'Срочная доставка1',
					description: [
						'Срочная доставка может быть осуществлена в любое удобное время с 10:00 до 21:00 в интервале 1 час, но не ранее, чем через 3 часа после оформления заказа. В случае опоздания курьера – доставка за наш счет! Минимальная сумма заказа отсутствует.'
					]
				},
				{
					title: 'Самовывоз из офиса интернет-магазина1',
					description: [
						'Cвой заказ можно получить в офисе интернет-магазина в вашем городе. Минимальная сумма заказа отсутствует.'
					]
				},
				{
					title: 'Срочная доставка в магазин «Связной»1',
					description: [
						'Ускоренная доставка заказа в ограниченное количество магазинов «Связной» вашего города.'
					]
				},
				{
					title: 'Резерв в магазине1',
					description: [
						'Зарезервировав на сайте товар из наличия в одном из магазинов, получите его уже сегодня!'
					]
				}
			]
		}
	] %}
	{% set tabContent = [
		{
			text: 'Обратите внимание, что курьер передает товар для проверки только после оплаты.'
		},
		{
			subtext: 'Доставка в выбранном городе:'
		},
		{
			text: 'При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах МКАД.'
		},
		{
			text: 'Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.'
		},
		{
			subtext: 'Города РФ, кроме Москвы:'
		},
		{
			list: [
				'Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей.',
				'При сумме заказа более 2000 рублей доставка осуществляется бесплатно.',
				'Доставка за пределы КАД города Санкт-Петербург осуществляется на следующий день и составляет 200 рублей.'
			]
		},
		{
			subtitle: 'Возможные способы оплаты:'
		},
		{
			list: [
				'Наличный расчет',
				'Оплата платежной картой при получении заказа ',
				'Онлайн-оплата платежной картой VISA и MasterCard',
				'Безналичный расчет',
				'Оплата в платежной системе «Яндекс.Деньги»'
			]
		}
	] %}
	<div class="score-payment__header">
		<div class="tabs__scroll js-scrollbar">
			<ul class="tabs__list score-tabs tabs__list_subtitle">
				{% for item in tabs %}
					<li>
						<a href="{{item.id}}" class="js-tabs-open {{item.active}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="score-payment__container tabs__container">
		{% for tab in tabs %}
			<div class="score-payment__content tabs__content js-tabs-content js-score-accordion {{tab.active}}" data-id="{{tab.id}}">
				{% if tab.contentList %}
					{% for item in tab.contentList %}
						<div class="score-accordion js-score-accordion-item">
							<div class="score-accordion__header">
								<a href="#" class="score-accordion__title js-score-accordion-open">
									{{mixins.icon('down')}}
									<span>{{item.title | safe}}</span>
								</a>
								<div class="score-accordion__description">
									{% for p in item.description %}
										<p>{{p | safe}}</p>
									{% endfor %}
								</div>
							</div>
							<div class="score-accordion__content js-score-accordion-content">
								{% for item in tabContent %}
									{% if item.text %}
										<div class="score-accordion__text">
											<p>{{item.text | safe}}</p>
										</div>
									{% elif item.subtext %}
										<p>{{item.subtext | safe}}</p>
									{% elif item.subtitle %}
										<h4 class="score-accordion__subtitle">{{item.subtitle | safe}}</h4>
									{% elif item.list %}
										<ul>
											{% for li in item.list %}
												<li>{{li | safe}}</li>
											{% endfor %}
										</ul>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
<!-- end score-payment -->