---
title: Article
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="main">
		<div class="inner">
			<div class="typography">
				<h1>Maint title h1!</h1>
				<h2>Title h2!</h2>
				<h3>Title h3!</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos possimus reprehenderit fugiat eius similique, rerum vel molestiae distinctio ipsa. Ad commodi nulla, dolores nam, ratione officiis, quisquam molestias debitis rerum alias a corrupti maxime ea dolor repellendus quod non assumenda aperiam! Expedita maxime, accusamus temporibus, asperiores natus modi ab autem officia officiis quisquam enim ea nobis provident voluptate quia minima illum atque eos ullam. Molestias soluta tempore, nostrum excepturi aliquam ipsum odio. Praesentium debitis id provident officia blanditiis illo saepe, consectetur incidunt molestiae fugiat cum iure recusandae magnam rem exercitationem rerum! Similique autem aut, dolores modi, ut minus odio.</p>
				<p><strong>BOLD FONT</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, cupiditate.</p>
				<p><b>MEDIUM FONT</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, laborum.</p>
				<p><u>UNDERILINE FONT</u> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, sequi.</p>
				<p><em>ITALIC FONT</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, in.</p>
				<h2>Lists:</h2>
				<h3>Unordered list</h3>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, vero!</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, vero!</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum deserunt explicabo repellendus impedit suscipit atque quia sapiente possimus nemo vitae similique totam dolorem perspiciatis dolorum, autem fuga beatae et eveniet.</li>
				</ul>
				<h3>Ordered list</h3>
				<ol>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sequi.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, sequi.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ex earum eum doloribus nulla nobis repudiandae laboriosam a architecto reiciendis repellat, totam illum velit iusto commodi eius omnis. Quo, tempore!</li>
				</ol>
				<h2>Tables:</h2>
				<h3>Simple table</h3>
				<table>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae?</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officia.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptates.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nihil.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quia!</td>
						</tr>
					</tbody>
				</table>
				<h3>Simple table with headers</h3>
				<table>
					<thead>
						<tr>
							<th>Column Header</th>
							<th>Column Header</th>
							<th>Column Header</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, pariatur.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, alias.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iure.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, magni!</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quibusdam.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magnam?</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nesciunt.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, delectus.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, cupiditate.</td>
						</tr>
					</tbody>
				</table>
				<h3>Table with hover</h3>
				<table class="table-with-hover">
					<thead>
						<tr>
							<th>Column Header</th>
							<th>Column Header</th>
							<th>Column Header</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, pariatur.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, alias.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iure.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, magni!</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quibusdam.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magnam?</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nesciunt.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, delectus.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, cupiditate.</td>
						</tr>
					</tbody>
				</table>
				<h3>Table-zebra-even with headers</h3>
				<table class="table-zebra-even">
					<thead>
						<tr>
							<th>Column Header</th>
							<th>Column Header</th>
							<th>Column Header</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae?</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officia.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptates.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nihil.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quia!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, blanditiis fugiat.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis odio.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, sint!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis et, mollitia.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, totam, debitis.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus facilis.</td>
						</tr>
					</tbody>
				</table>
				<h3>Table-zebra-even without headers</h3>
				<table class="table-zebra-even">
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae?</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officia.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptates.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nihil.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quia!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, blanditiis fugiat.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis odio.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, sint!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis et, mollitia.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, totam, debitis.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus facilis.</td>
						</tr>
					</tbody>
				</table>
				<h3>Table-zebra-odd with headers</h3>
				<table class="table-zebra-odd">
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae?</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officia.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptates.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nihil.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quia!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, blanditiis fugiat.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis odio.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, sint!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis et, mollitia.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, totam, debitis.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus facilis.</td>
						</tr>
					</tbody>
				</table>
				<h3>Table-zebra-odd without headers</h3>
				<table class="table-zebra-odd">
					<thead>
						<tr>
							<th>Column Header</th>
							<th>Column Header</th>
							<th>Column Header</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, labore.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, molestiae?</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, officia.</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptates.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, nihil.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quia!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, blanditiis fugiat.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis odio.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, harum, sint!</td>
						</tr>
						<tr>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis et, mollitia.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, totam, debitis.</td>
							<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, delectus facilis.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}