<!-- begin footer -->
<footer class="footer">
	<div class="inner">
		{% set footerLists = [
			{
				title: 'Покупателям',
				list: [
					'Покупки на ShopingSkidka.com',
					'Доставка и оплата товаров',
					'Пользовательское соглашение',
					'Соглашение о конфиденциальности и персональных данных',
					'Юридическим лицам'
				]
			},
			{
				title: 'Магазинам',
				list: [
					'Истории успеха',
					'Торговля на ShopingSkidka.com',
					'Все еще думаете?',
					'Добавить магазин',
					'Договор оферты'
				]
			},
			{
				title: 'Партнерам',
				list: [
					'Реклама на сайте',
					'Сотрудничество'
				]
			},
			{
				title: 'О компании',
				list: [
					'Что такое ShopingSkidka.com',
					'Работа в ShopingSkidka.com',
					'Отзывы',
					'Пресс-центр',
					'Контактные данные'
				]
			}
		] %}
		<div class="footer__row js-accordion-md" data-accordion-parent="footer">
			{% for col in footerLists %}
			<div class="footer__col">
				<div class="footer__nav">
					<div class="footer__title js-accordion-md-open" data-accordion-child="footer">
						<span>{{col.title}}</span>
						{{mixins.icon('down')}}
					</div>
					<ul class="footer__list js-accordion-md-content" data-accordion-child="footer">
						{% for item in col.list %}
						<li><a href="#">{{item}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="footer__bottom">
			{% set socials = [
				'vk',
				'fb',
				'od',
				'youtube',
				'insta',
				'google'
			] %}
			<ul class="footer__social">
				{% for social in socials %}
				<li>
					<a href="#">
						{{mixins.icon(social)}}
					</a>
				</li>
				{% endfor %}
			</ul>
			<a href="#" class="logo logo_sm footer__logo">
				{{mixins.icon('logo')}}
				<div class="logo__text">
					<span>Shopping</span>
					<strong>Skidka.com</strong>
				</div>
			</a>
			<div class="footer__copy">© 2016  ShopingSkidka.com</div>
		</div>
	</div>
</footer>
<!-- end footer -->