<!-- begin sm-filter  -->
<div class="sm-filter">
	<form action="/" class="sm-filter__form js-range-form">
		<div class="sm-filter__btn sm-filter__reset">
			<button class="btn btn_lg btn_extra js-range-reset" type="reset">Очистить все</button>
		</div>
		<div class="sm-filter__box js-accordion-lg" data-accordion-parent="filters">
			<a href="#" class="sm-filter__title js-accordion-lg-open" data-accordion-child="filters">
				<span>Стоимость</span>
				{{mixins.icon('down')}}
			</a>
			<div class="sm-filter__container js-accordion-lg-content" data-accordion-child="filters">
				<div class="price-range js-range">
					<div class="price-range__controller">
						{{mixins.range({
							start: 16380,
							end: 1499999,
							min: 0,
							max: 2000000
						})}}
					</div>
					<div class="price-range__fields">
						<div class="price-range__field">
							{{mixins.input({
								type: 'text',
								class: 'input_sm js-range-from'
							})}}
						</div>
						<div class="price-range__slash">—</div>
						<div class="price-range__field">
							{{mixins.input({
								type: 'text',
								class: 'input_sm js-range-to'
							})}}
						</div>
						<div class="price-range__currency">
							<span class="rub">Р</span>
						</div>
					</div>
					<div class="price-range__label">Найдено 97 товаров</div>
				</div>
			</div>
		</div>

		<!-- begin TO SHOW THIS TOOLTIP - Add class 'is-active' to js-filter-tooltip  -->
		<div class="sm-filter__tooltip js-filter-tooltip">
			<div class="label label_light">Найдено 97 товаров</div>
			<a href="#" class="sm-filter__show">
				<span>Показать</span>
				{{mixins.icon('next')}}
			</a>
		</div>
		<!-- end TO SHOW THIS TOOLTIP - Add class 'is-active' to js-filter-tooltip -->

		{% for filterBox in sidebar.filterList %}
		<div class="sm-filter__box js-accordion-lg" data-accordion-parent="filters">
			<a href="#" class="sm-filter__title js-accordion-lg-open" data-accordion-child="filters">
				<span>{{filterBox.title}}</span>
				{{mixins.icon('down')}}
			</a>
			<div class="sm-filter__container js-accordion-lg-content js-show-more" data-accordion-child="filters" data-show-parent="filters">
				<ul class="sm-filter__list">
					{% for item in filterBox.list %}
						<li class="js-show-more-item" data-show-child="filters">
							{% if filterBox.checkbox %}
								{{mixins.checkbox(item)}}
							{% elif filterBox.radio %}
								{{mixins.radio(item)}}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				<a href="#" class="sm-filter__link btn-more js-show-more-open" data-show-child="filters">
					<span class="btn-more__show">Еще</span>
					<span class="btn-more__hide">Свернуть</span>
				</a>
			</div>
		</div>
		{% endfor %}
		<div class="sm-filter__box js-accordion-lg" data-accordion-parent="filters">
			<a href="#" class="sm-filter__title js-accordion-lg-open" data-accordion-child="filters">
				<span>Бренды</span>
				{{mixins.icon('down')}}
			</a>
			{% set brends = [
				{
					text: 'Samsung'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'LG'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				},
				{
					text: 'Sony'
				},
				{
					text: 'Philips'
				},
				{
					text: 'Mystery'
				}
			] %}
			<div class="sm-filter__container js-accordion-lg-content js-show-more js-filters" data-accordion-child="filters">
				<div class="sm-filter__search">
					{{mixins.icon('search-default')}}
					<input type="text" class="input js-filters-input">
				</div>
				<div class="sm-filter__scrollable">
					<ul class="sm-filter__list">
						{% for item in brends %}
							<li class="js-filters-item">
								{{mixins.checkbox({
									text: item.text,
									attrs: 'data-value="' + item.text + '" class="js-filters-value"'
								})}}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="sm-filter__box">
			<div class="sm-filter__checkbox">
				{{mixins.checkbox({
					class: 'checkbox_lg',
					text: 'Smart TV',
					attrs: 'checked'
				})}}
			</div>
		</div>
		<div class="sm-filter__box">
			<div class="sm-filter__checkbox">
				{{mixins.checkbox({
					class: 'checkbox_lg',
					text: 'Картинка в картинке'
				})}}
			</div>
		</div>
		<div class="sm-filter__btn sm-filter__submit">
			<button class="btn btn_lg btn_extra" type="submit">Применить</button>
		</div>
	</form>
</div>
<!-- end sm-filter -->