<div class="card__container">
	<!-- begin card-item  -->
	<div class="card__col card__col_item">
		<div class="card-item">
			<h2 class="card-item__title">Ноутбук Apple MacBook 12" Retina (MLHF2RU/A) (золотой)</h2>
			<div class="card-item__body">
				<div class="card-item__price">
					<div class="card-item__price-current">113 990 руб.</div>
					<div class="card-item__price-old">125 090 руб.</div>
				</div>
				<div class="card-item__info">
					<div class="card-item__field">
						<div class="card-item__label">Магазин:</div>
						<div class="card-item__value">МВидео</div>
					</div>
				</div>
				<div class="card-item__rating">
					{{mixins.ratingStatic({
						value: '3,5',
						number: 3.5,
						size: 'lg'
					})}}
				</div>
			</div>
		</div>
	</div>
	<!-- end card-item -->

	<!-- begin card-gallery  -->
	<div class="card__col card__col_gallery">
		<div class="card-gallery js-card-gallery">
			<div class="card-gallery__main">
				<div class="card-gallery__slideshow js-card-gallery-slideshow">
					{% for item in range(0, 5) %}
						{% if loop.index0 % 2 === 0 %}
							<div class="card-gallery__slide">
								<img src="img/card-slide1.png" alt="">
								<div class="card-gallery__zoom">
									<button class="card-gallery__button js-popup-open" data-index="{{loop.index0}}" data-target="card-gallery">
										{{mixins.icon('search-active')}}
									</button>
								</div>
							</div>
						{% else %}
							<div class="card-gallery__slide">
								<img src="img/card-slide2.jpg" alt="">
								<div class="card-gallery__zoom">
									<button class="card-gallery__button js-popup-open" data-index="{{loop.index0}}" data-target="card-gallery">
										{{mixins.icon('search-active')}}
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="card-gallery__navigation">
				<div class="card-gallery__thumbnails js-card-gallery-thumbnails">
					{% for item in range(0, 5) %}
						{% if loop.index0 % 2 === 0 %}
							<div class="card-gallery__thumbnail">
								<div class="card-gallery__thumbnail-in js-card-gallery-thumbnail" data-index="{{loop.index0}}">
									<img src="img/card-slide1.png" alt="">
								</div>
							</div>
						{% else %}
							<div class="card-gallery__thumbnail">
								<div class="card-gallery__thumbnail-in js-card-gallery-thumbnail" data-index="{{loop.index0}}">
									<img src="img/card-slide2.jpg" alt="">
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="card-gallery__more">
					<button class="card-gallery__btn js-popup-open" data-target="card-gallery" data-index="0">Еще 2</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end card-gallery -->

	<!-- begin card-info  -->
	<div class="card__col card__col_info">
		{% set cardInfo = [
			{
				id: 'card-description',
				text: 'Описание',
				active: true,
				info: [
					'Вы открываете MacBook – и перед вами изумительный 12-дюймовый дисплей Retina, покрытый стеклом от края до края. Он позволяет рассмотреть мельчайшие детали. Фотографии на нем буквально оживают: настолько они яркие и красочные. При разрешении более 3 миллионов пикселей каждая буква отображается кристально четко. Это самый тонкий и энергоэффективный дисплей Retina для Mac, чей безупречно выполненный минималистичный дизайн восхищает не меньше, чем потрясающее качество изображения.',
					'Комфортная работа с ноутбуком невозможна без полноразмерной клавиатуры. Поэтому инженерам Apple пришлось пересмотреть все принципы ее устройства, чтобы разместить такую клавиатуру в тонком и изящном MacBook, переработать каждую клавишу и лежащие в ее основе механизмы. В результате клавиатура стала значительно тоньше, а печатать теперь удобнее и приятнее. Клавиши более точно реагируют на ваши действия и эффективнее срабатывают.'
				]
			},
			{
				id: 'card-characteristics',
				text: 'Характеристики',
				list: [
					{
						label: 'ID:',
						value: '3069479'
					},
					{
						label: 'Диагональ дисплея (дюйм):',
						value: '12'
					},
					{
						label: 'Процессор:',
						value: 'Intel® Core™ M5'
					},
					{
						label: 'Оперативная память (Мб):',
						value: '8192'
					},
					{
						label: 'Видеокарта:',
						value: 'Intel® HD Graphics 515'
					},
					{
						label: 'Количество USB-портов:',
						value: '1'
					}
				]
			}
		] %}
		<div class="card-info tabs js-tabs">
			<div class="card-info__nav">
				<ul class="tabs__list tabs__list_sm">
					{% for tab in cardInfo %}
						<li>
							{% if tab.active %}
								<a href="{{tab.id}}" class="js-tabs-open is-active">{{tab.text}}</a>
							{% else %}
								<a href="{{tab.id}}" class="js-tabs-open">{{tab.text}}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="card-info__container tabs__container">
				{% for tab in cardInfo %}
					{% if tab.active %}
					<div class="tabs__content js-tabs-content is-active" data-id="{{tab.id}}">
					{% else %}
					<div class="tabs__content js-tabs-content" data-id="{{tab.id}}">
					{% endif %}
						{% if tab.list %}
							<ul class="card-info__list">
								{% for item in tab.list %}
									<li class="card-info__field">
										<div class="card-info__label">
											<span>{{item.label}}</span>
										</div>
										<div class="card-info__value">
											<span>{{item.value}}</span>
										</div>
									</li>
								{% endfor %}
							</ul>
							<div class="card-info__more">
								<a href="#" class="card-info__link">Все характеристики</a>
							</div>
						{% endif %}
						{% if tab.info %}
							<div class="card-info__text">
								{% for item in tab.info %}
									<p>{{item}}</p>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="card-info__footer">
				<div class="card-info__btn">
					<button class="btn btn_xlg">В магазин</button>
				</div>
				<div class="card-info__btn">
					<button class="button">
						<span>{{mixins.icon('heart-empty')}} В избранное</span>
					</button>
				</div>
				<div class="card-info__btn">
					<div class="card-info__small">Совместные покупки</div>
					<button class="button">
						<span>{{mixins.icon('cooperative')}} Участвовать</span>
					</button>
				</div>
				<div class="card-info__btn card-info__btn_xs">
					<button class="button-sm">
						{{mixins.icon('percent')}}
					</button>
				</div>
				<div class="card-info__btn card-info__btn_xs">
					<button class="button-sm">
						{{mixins.icon('heart-empty')}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end card-info -->
</div>