<!-- begin card-description  -->
<div class="card-description tabs__content js-tabs-content is-active" data-id="card-description">
	<section class="card-descrition__section">
		<h2 class="title-h2 title-h2_sm card-description__title">Ноутбук Apple MacBook 12" Retina (MLHF2RU/A) (золотой)</h2>

		{% set cardDescriptions = [
			{
				title: 'Дисплей Retina пересмотрен',
				text: 'Вы открываете MacBook – и перед вами изумительный 12-дюймовый дисплей Retina, покрытый стеклом от края до края. Он позволяет рассмотреть мельчайшие детали. Фотографии на нем буквально оживают: настолько они яркие и красочные. При разрешении более 3 миллионов пикселей каждая буква отображается кристально четко. Это самый тонкий и энергоэффективный дисплей Retina для Mac, чей безупречно выполненный минималистичный дизайн восхищает не меньше, чем потрясающее качество изображения.'
			},
			{
				title: 'Полноразмерная клавиатура. В минимальном пространстве',
				text: 'Комфортная работа с ноутбуком невозможна без полноразмерной клавиатуры. Поэтому инженерам Apple пришлось пересмотреть все принципы ее устройства, чтобы разместить такую клавиатуру в тонком и изящном MacBook, переработать каждую клавишу и лежащие в ее основе механизмы. В результате клавиатура стала значительно тоньше, а печатать теперь удобнее и приятнее. Клавиши более точно реагируют на ваши действия и эффективнее срабатывают.'
			},
			{
				title: 'Трекпад Force Touch. Ощутимое улучшение ',
				text: 'Трекпад MacBook открывает перед вами совершенно новые возможности. Конструкция трекпада Force Touch обеспечивает четкое и равномерное ощущение клика в любой точке. А под его поверхностью располагаются датчики, которые следят за тем, с каким усилием нажимается трекпад, и предоставляют вам новые способы взаимодействия с Mac. Нажав на трекпад с усилием, вы можете, к примеру, быстро посмотреть определение слова или открыть файл для просмотра. Кроме того, трекпад обеспечивает тактильный отклик: при нажатии он слегка вибрирует, отчего кажется, что вы буквально прикасаетесь к объекту на экране.'
			},
			{
				title: 'Готов жить без проводов',
				text: 'MacBook создан для мира беспроводных технологий. Практически все, что вам может понадобиться от ноутбука, теперь можно делать по беспроводной связи благодаря программному обеспечению Apple, которое задействует все возможности современных стандартов Wi‑Fi и Bluetooth. В любой момент вы можете выйти в интернет, передать файлы, рассортировать фотографии, послушать музыку и сделать многое другое – не стесняя себя проводами.'
			}
		] %}

		{% for article in cardDescriptions %}
			<article class="card-description__article">
				<h3 class="title-h3 title-h3_sm card-description__subtitle">{{article.title}}</h3>
				<p>{{article.text}}</p>
			</article>
		{% endfor %}
	</section>
</div>
<!-- end card-description -->