<!-- begin card-reviews  -->
<div class="card-reviews tabs__content js-tabs-content" data-id="card-reviews">
	<div class="card-reviews__header">
		{% include "partials/components/_product-reviews.html" %}
	</div>
	<div class="card-reviews__body">
		<div class="card-reviews__sorting">
			{% include "partials/components/_reviews-sorting.html" %}
		</div>
		<div class="card-reviews__comments">
			{% include "partials/components/_comments-reviews.html" %}
		</div>
	</div>
	<div class="card-reviews__nav">
		{% include "partials/components/_reviews-nav.html" %}
	</div>
	<div class="card-reviews__form">
		{% include "partials/components/_reviews-form.html" %}
	</div>
</div>
<!-- end card-reviews -->