<!-- begin card-price  -->
<div class="card-price tabs__content js-tabs-content" data-id="card-price">
	{% set sortingClass = 'sorting_in' %}
	<div class="card-price__header">
		{% include "partials/components/_sorting.html" %}
	</div>

	<div class="card-price__body">
		{% for item in range(0, 10) %}
			<div class="card-price__item">
				{{mixins.itemRow({
					img: 'img/card-slide1.png',
					discount: '-10%',
					title: 'Apple MacBook 2016 MLHE2 12" Retina 2304x1440 Intel Core M3 1.1GHz TB 2.4GHz/8Gb/256Gb SSD/Intel HD Graphics 515/USB-C Early 2016',
					text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus impedit earum ut dicta alias natus, vero, neque nihil consequatur animi?',
					info: {
						shop: 'Эльдорадо',
						rating: '4,7'
					},
					price: {
						old: '296 899 руб.',
						current: '258 000 руб.'
					}
				})}}
			</div>
		{% endfor %}
	</div>
	<div class="card-price__footer">
		{{mixins.paginationLG({
			class: 'pagination_lg'
		})}}
	</div>
</div>
<!-- end card-price -->