<!-- begin popup  -->
<div class="popup js-popup" data-modal="logout">
	<div class="popup__container popup__container_sm js-popup-container">
		<button class="btn-close btn-close_lg popup__close js-popup-close">
			{{mixins.icon('close')}}
		</button>
		<div class="popup__notice">
			<div class="popup__title">Выход</div>
			<div class="popup__info">
				<p>Вы действительно хотите выйти из профиля?</p>
			</div>
			<div class="popup__btn">
				<button class="btn btn_lg btn_extra">Выйти</button>
			</div>
		</div>
	</div>
</div>
<!-- end popup -->