<!-- begin about  -->
<div class="section inner">
	<div class="heading">
		<h2 class="title-h2 heading__title">О компании</h2>
		<div class="heading__more">
			<button class="btn">Подробнее</button>
		</div>
	</div>
	<div class="about">
		<article class="article">
			<div class="article__text article__text_indent">
				<div class="article__row">
					<div class="article__col">
						<p>ShoppingSkidka.com — старейший в рунете сервис подбора и сравнения товаров. Был образован в 1996 году как каталог цен компьютерных товаров и офисного оборудования в интернете. Со временем ShoppingSkidka.com расширял категории представленных товаров и сейчас насчитывает предложения по 1200 категориям, от более чем 5 000 интернет-магазинов. Ежемесячная аудитория сервиса согласно данным TNS 4 млн. пользователей (данные за декабрь 2014, вся Россия, возраст 12-64).</p>
					</div>
					<div class="article__col">
						<p>Cервис ShoppingSkidka.com позволяет экономить время на поиски интересующего товара в интернете. Достаточно просто зайти на ShoppingSkidka.com, выбрать нужную категорию или набрать название товара в поиске, и получить список магазинов, предлагающих нужную продукцию с текущими ценами. Отзывы на товары и рейтинги магазинов позволяют получить от процесса покупки максимальное количество положительных эмоций.</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
<!-- end about -->