{% set
	item = [
		{
			class: "is-open",
			text: "Стоимость",
			range: "range",
			purchase: "purchase",
			meta: "Найдено 97 товаров"
		},
		{
			class: "is-open",
			text: "Производители",
			listCheckbox: [
				{
					name: "Samsung"
				},
				{
					name: "LG"
				},
				{
					name: "Sony"
				},
				{
					name: "Philips"
				},
				{
					name: "Mystery"
				},
				{
					name: "Item 1"
				},
				{
					name: "Item 2"
				},
				{
					name: "Item 3"
				},
				{
					name: "Item 4"
				},
				{
					name: "Item 5"
				}
			],
			btnMore: "Eщё..."
		},
		{
			class: "is-open",
			text: "Разрешение",
			listCheckbox: [
				{
					name: "4K UHD"
				},
				{
					name: "720p HD"
				},
				{
					name: "1080i HD"
				},
				{
					name: "1080p Full HD"
				}
			]
		},
		{
			class: "is-open",
			text: "Поддержка 3D",
			listRadio: [
				{
					name: "Да"
				},
				{
					name: "Нет"
				},
				{
					name: "Не важно"
				}
			]
		},
		{
			text: "Поддержка Wi-Fi",
			listRadio: [
				{
					name: "Да"
				},
				{
					name: "Нет"
				},
				{
					name: "Не важно"
				}
			]
		}
	]
%}