{% set items = [
	[
		{
			input: true,
			placeholder: "Фамилия"
		},
		{
			input: true,
			placeholder: "Имя"
		},
		{
			input: true,
			placeholder: "Отчество"
		}
	],
	[
		{
			label: "Ваш e-mail"
		},
		{
			input: true,
			class: 'is-valid',
			inputValue: "4epikart@gmail.com"
		},
		{
			btn: {
				text: "Изменить",
				type: 'button'
			}
		}
	],
	[
		{
			label: "Пароль"
		},
		{
			input: true,
			class: 'is-valid',
			type: 'password',
			inputValue: "password"
		},
		{
			btn: {
				text: "Изменить",
				type: 'button'
			}
		}
	],
	[
		{
			label: "Телефон"
		},
		{
			input: true,
			placeholder: "+7 (123) 456-78-90"
		}
	]
] %}

{% set checkbox = [
	[
		{
			name: "Все"
		},
		{
			name: "Бытовая техника"
		},
		{
			name: "Электроника"
		},
		{
			name: "Sony"
		},
		{
			name: "Мебель"
		},
		{
			name: "Одежда и аксессуары"
		}
	],
	[
		{
			name: "Красота и здоровье"
		},
		{
			name: "Товары для детей"
		},
		{
			name: "Спорт и отдых"
		},
		{
			name: "Зоотовары"
		},
		{
			name: "Авто и мото"
		},
		{
			name: "Дом и дача"
		}
	],
	[
		{
			name: "Строительство и ремонт"
		},
		{
			name: "Продукты"
		},
		{
			name: "Услуги"
		},
		{
			name: "Книги"
		},
		{
			name: "Цветы, подарки и сувениры"
		},
		{
			name: "Музыкальные инструменты"
		}
	]
] %}