{% set
	items = [
		{
			discount: "-25%",
			picture: [
				"items/item-img1.jpg",
				"items/item-img2.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Hartan Racer GT",
			subtitle: "Детские коляски",
			price: "91 730 руб.",
			oldPrice: "98 763 руб."
		},
		{
			discount: "-22%",
			picture: [
				"items/item-img2.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Lalique for Bentley Crystal ...",
			subtitle: "Мужская парфюмерия",
			price: "276 000 руб.",
			oldPrice: "296 899 руб."
		},
		{
			heart: true,
			discount: "-12%",
			picture: [
				"items/item-img3.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Merida Scultura Superlite LT",
			subtitle: "Велосипеды",
			price: "455 000 руб.",
			oldPrice: "620 990 руб."
		},
		{
			picture: [
				"items/item-img4.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Apple Watch 38mm with Clas",
			subtitle: "Умные часы",
			price: "44 990 руб."
		},
		{
			discount: "-28%",
			picture: [
				"items/item-img5.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Кресло Heggi.",
			subtitle: "Кресла",
			price: "6 780 руб.",
			oldPrice: "12 000 руб."
		},
		{
			picture: [
				"items/item-img6.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Термофор Ангара 2012",
			subtitle: "Камины и печи",
			price: "16 999 руб."
		},
		{
			discount: "-15%",
			picture: [
				"items/item-img7.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Hartan Racer GT",
			subtitle: "Детские коляски",
			price: "91 730 руб.",
			oldPrice: "98 763 руб."
		},
		{
			heart: true,
			discount: "-7%",
			picture: [
				"items/item-img8.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Lalique for Bentley Crystal ...",
			subtitle: "Мужская парфюмерия",
			price: "276 000 руб.",
			oldPrice: "296 899 руб."
		},
		{
			picture: [
				"items/item-img9.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Merida Scultura Superlite LT",
			subtitle: "Велосипеды",
			price: "455 000 руб."
		},
		{
			discount: "-18%",
			picture: [
				"items/item-img10.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Hartan Racer GT",
			subtitle: "Встраиваемые духовые шкафы",
			price: "16 990 руб.",
			oldPrice: "18 617 руб."
		},
		{
			picture: [
				"items/item-img11.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "ILVE ES-645C",
			subtitle: "Кофеварки и кофемашины",
			price: "91 800 руб."
		},
		{
			discount: "-10%",
			picture: [
				"items/item-img12.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "CATA Podium 600 negra",
			subtitle: "Кухонные вытяжки",
			price: "15 790 руб.",
			priceOld: " 18 720 руб."
		},
		{
			discount: "-15%",
			picture: [
				"items/item-img13.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Bosch SMV 47L10",
			subtitle: "Посудомоечные машины",
			price: "37 990 руб.",
			oldPrice: "42 830 руб."
		},
		{
			picture: [
				"items/item-img14.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Bosch PIC645F17E",
			subtitle: "Встраиваемые варочные панели",
			price: "27 040 руб.",
			priceOld: "29 890 руб."
		},
		{
			heart: true,
			picture: [
				"items/item-img15.jpg",
				"items/item-img1.jpg",
				"items/item-img3.jpg",
				"items/item-img4.jpg",
				"items/item-img5.jpg"
			],
			title: "Miele DG 6401",
			subtitle: "Пароварки",
			price: "195 000 руб."
		}
	]
%}