{% set nav = [
	{
		link: 'Электроника',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы'
				]
			}
		]
	},
	{
		link: 'Бытовая техника',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Мебель',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Одежда и аксессуары',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Красота и здоровье',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Товары для детей',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Спорт и отдых',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Зоотовары',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Авто и мото',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Дом и дача',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	},
	{
		link: 'Строительство и ремонт',
		submenu: [
			{
				sublink: 'Электроника, фото, связь',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Аудио-видео техника',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			},
			{
				sublink: 'Компьютеры',
				dropdown: [
					'Телефоны',
					'Навигация',
					'Фотоаппараты и аксессуары',
					'Электронные книги',
					'Оптические приборы',
					'Еще'
				]
			}
		]
	}
] %}