{% set items = [
	{
		icon: 'appliances',
		title: 'Бытовая техника',
		list: [
			'Блендеры',
			'Варочные поверхности',
			'Газовые плиты',
			'Духовые шкафы',
			'Кофемашины',
			'Машинки для стрижки волос',
			'Еще'
		]
	},
	{
		icon: 'electronics',
		title: 'Электроника',
		list: [
			'GPS-навигаторы',
			'HDD',
			'MP3-плееры',
			'WiFi роутеры и адаптеры',
			'Жесткий диск hdd 1 тб',
			'Игровые приставки',
			'Еще'
		]
	},
	{
		icon: 'furniture',
		title: 'Мебель',
		list: [
			'Стеллажи для гостиной',
			'Стенки для гостиной',
			'Шкафы купе'
		]
	},
	{
		icon: 'clothes',
		title: 'Одежда и аксессуары',
		list: [
			'Детские комбинезоны',
			'Детские кроватки',
			'Женские куртки',
			'Женские сумки',
			'Мужские куртки',
			'Одежда для новорожденных',
			'Еще'
		]
	},
	{
		icon: 'beauty',
		title: 'Красота и здоровье',
		list: [
			'Косметика, парфюмерия и уход',
			'Аптека',
			'Техника для красоты и здоровья',
			'Оптика',
			'Средства и предметы гигиены',
			'Интим-товары'
		]
	},
	{
		icon: 'children',
		title: 'Товары для детей',
		list: [
			'Детские автокресла',
			'Коляски',
			'Конструкторы LEGO',
			'Манежи',
			'Санки',
			'Снегокаты',
			'Еще'
		]
	},
	{
		icon: 'football',
		title: 'Спорт и отдых',
		list: [
			'Акустические гитары',
			'Беговые дорожки',
			'Беговые дорожки для дома',
			'Велосипеды',
			'Велотренажеры',
			'Гантели и гири',
			'Еще'
		]
	},
	{
		icon: 'zoo',
		title: 'Зоотовары',
		list: [
			'Сухие корма для кошек и собак',
			'Консервы для кошек и собак',
			'Средства от блох и клещей',
			'Товары для кошек',
			'Товары для собак',
			'Товары для птиц',
			'Еще'
		]
	},
	{
		icon: 'car',
		title: 'Все для авто',
		list: [
			'Автомагнитолы',
			'Автомобильные аккумуляторы',
			'Видеорегистраторы',
			'Автосигнализация',
			'Зимние шины',
			'Колесные диски',
			'Еще'
		]
	},
	{
		icon: 'home',
		title: 'Дом и дача',
		list: [
			'Гладильные доски',
			'Кастрюли',
			'Люстры',
			'Матрасы и основания',
			'Набор посуды',
			'Одеяла',
			'Еще'
		]
	},
	{
		icon: 'construction',
		title: 'Строительство и ремонт',
		list: [
			'Бензиновые генераторы',
			'Ванны',
			'Генераторы и электростанции',
			'Дрели и шуруповерты',
			'Душевые кабины',
			'Котлы отопительные',
			'Еще'
		]
	},
	{
		icon: 'music',
		title: 'Музыкальные инструменты',
		list: [
			'Гитары',
			'Клавишные инструменты',
			'Микрофоны и радиосистемы',
			'DJ оборудование',
			'Студийное оборудование',
			'Звуковое оборудование',
			'Еще'
		]
	},
	{
		icon: 'gift',
		title: 'Цветы, подарки и сувениры',
		list: [
			'Наручные и карманные часы',
			'Сувениры, подарки',
			'Подарочные сертификаты',
			'Часы',
			'Цветы',
			'Ювелирные изделия и бижутерия',
			'Ещё'
		]
	},
	{
		icon: 'services',
		title: 'Услуги',
		list: [
			'Компьютерное оборудование',
			'Сети и Internet',
			'Фото, видео, аудио',
			'Связь',
			'Обучение',
			'Аренда',
			'Еще'
		]
	},
	{
		icon: 'books',
		title: 'Книги',
		list: [
			'Книги',
			'Аудиокниги'
		]
	},
	{
		icon: 'food',
		title: 'Продукты',
		list: [
			'Продукты питания',
			'Детское питание'
		]
	}
] %}