.icon-appliances {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-beauty {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-books {
  width: 0.8em;
  height: 1em;
  fill: #1D2E49;
}
.icon-car {
  width: 1.43em;
  height: 1em;
  fill: #1D2E49;
}
.icon-check {
  width: 1.25em;
  height: 1em;
  fill: #3160AA;
}
.icon-checkbox {
  width: 1.25em;
  height: 1em;
  fill: #3160AA;
}
.icon-children {
  width: 1.16em;
  height: 1em;
  fill: #1D2E49;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-clothes {
  width: 1.1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-comment-active {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-comment-default {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-construction {
  width: 0.9em;
  height: 1em;
  fill: #1D2E49;
}
.icon-cooperative {
  width: 1.21em;
  height: 1em;
  fill: #FFF;
}
.icon-dislike-active {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-dislike-default {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-down {
  width: 1.67em;
  height: 1em;
  fill: #1D2E49;
}
.icon-electronics {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-error {
  width: 1.3em;
  height: 1em;
  fill: #E64E49;
}
.icon-exclamation {
  width: 0.21em;
  height: 1em;
  fill: #3160AA;
}
.icon-fb {
  width: 0.44em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-filter {
  width: 1.2em;
  height: 1em;
  fill: #FFF;
}
.icon-food {
  width: 1.38em;
  height: 1em;
  fill: #1D2E49;
}
.icon-football {
  width: 1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-furniture {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-gift {
  width: 1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-google {
  width: 1.61em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-heart-active {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-heart-default {
  width: 1.05em;
  height: 1em;
  fill: #1D2E49;
}
.icon-heart-empty {
  width: 1.05em;
  height: 1em;
  fill: #9DB7DF;
}
.icon-heart-sm-active {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-heart-sm-default {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.05em;
  height: 1em;
  fill: #E64D49;
}
.icon-home {
  width: 1.07em;
  height: 1em;
  fill: #1D2E49;
}
.icon-i {
  width: 0.5em;
  height: 1em;
  fill: #3160AA;
}
.icon-insta {
  width: 1.01em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-like-active {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-like-default {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.79em;
  height: 1em;
  fill: #1D2E49;
}
.icon-music {
  width: 1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-next {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.icon-od {
  width: 0.59em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-pen-active {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pen-default {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-percent {
  width: 1.13em;
  height: 1em;
  fill: #1E2F49;
}
.icon-plane-active {
  width: 0.99em;
  height: 1em;
  fill: #3160AA;
}
.icon-plane-default {
  width: 0.99em;
  height: 1em;
  fill: #1D2E49;
}
.icon-prev {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.icon-quotes-close {
  width: 0.95em;
  height: 1em;
  fill: #1D2E49;
}
.icon-quotes-open {
  width: 0.95em;
  height: 1em;
  fill: #1D2E49;
}
.icon-search-active {
  width: 1em;
  height: 1em;
  fill: #3160AA;
}
.icon-search-default {
  width: 1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-services {
  width: 1.1em;
  height: 1em;
  fill: #1D2E49;
}
.icon-star {
  width: 1.08em;
  height: 1em;
  fill: #3160AA;
}
.icon-stars {
  width: 6.3em;
  height: 1em;
  fill: initial;
}
.icon-subscribe {
  width: 0.76em;
  height: 1em;
  fill: #1D2E49;
}
.icon-triangle {
  width: 1.26em;
  height: 1em;
  fill: #FFF;
}
.icon-up {
  width: 1.8em;
  height: 1em;
  fill: #FFF;
}
.icon-user-active {
  width: 0.84em;
  height: 1em;
  fill: #3160AA;
}
.icon-user-default {
  width: 0.84em;
  height: 1em;
  fill: #1D2E49;
}
.icon-view {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.58em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-youtube {
  width: 1.43em;
  height: 1em;
  fill: #A7AEBA;
}
.icon-zoo {
  width: 1.11em;
  height: 1em;
  fill: #1D2E49;
}
